#mainbtn {
    width: 100%;
    height: 35px;
    margin: 3px;
    font-size: 25px;
}

#main {
    margin-top: 95px;
    width: 100%;
    
}
body {
    background-color: #99CCFF;

}

img {
    display: block;
    max-width:80px;
    max-height:80px;
    width: auto;
    height: auto;
}
p {
    margin: 0px 0px 0px 0px;
}
.day_date_day {
    font-size: 20px;
}
.day_date_date {
    font-size: 9px;
}
.day_date_cell {
    width: 80px;
}
tr td {
    border-top: 2px solid grey;
    vertical-align: top;
    margin: 0px;
}
.day_meal_cell {
    font-size: 11px;
    width: 100%;
}
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 95px;
    background-color: #6495ed;
}
#header_center {
    position: fixed;
    left: 60px;
    top: 5px;
    width: 200px;
}
#header_left {
	position: fixed;
    left: 5px;
    top: 5px;
}
#header_right {
    position: fixed;
    right: 5px;
    top: 5px;
}